/* General Styles */
body {
  font-family: 'Cambay', sans-serif;
}

main {
	display: grid;
	grid-template-areas: "nav" "cover" "form" "results";
	grid-template-rows: 100px auto auto auto;
}

/* Logo and Image Style */
.nav {
	grid-area: nav;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 25px;
	margin-left: 25px;
}

.tagline {
	font-family: 'Amatic SC', cursive;
	font-size: 1.875rem;
}

#cover {
	grid-area: cover;
	position: relative;
}

.logo {
  width: 150px;
} 

img.responsive-img {
	width: 100vw;
}

/* Card Styles */
.form-wrapper .card {
  box-shadow: none;
}

a#trail-link {
  color: #1a66a5;
  font-weight: 700;
}

.form-wrapper .card .card-content {
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 50px;
  flex-wrap: wrap;
}

.trail .card-content {
  height: 200px;
  overflow: scroll;
  padding: 20px;
}

.card .card-image .card-title {
  z-index: 2;
}

.row .col.l2 {
  margin-left: 0;
}

.row .col.l4 {
  margin-left: 0;
}

.card .card-image img {
  object-fit: cover;
  height: 250px;
}

.card .card-image {
  overflow: hidden;
}

/* Adds Gradient Overlay */
.card-image:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.8));
  z-index: 0;
}

.form-wrapper {
  grid-area: form;
  height: fit-content;
}

.form-wrapper .row{
  margin-bottom: 0px;
}

/* Form Field Container Styling */
.form-container {
  margin: 0;
}

.radius{
  font-size: 1rem;
}

/* Trail Thumbnail/Info Styling */
.thumbnail {
  max-height: 300px;
}

.trail {
  margin-right: 20px;
}

.row-1, .row-2, .row-3 {
  margin-top: 30px;
  margin-left: 25px;
}

#trail-container {
	grid-area: results;
}

/* Responsive Queries */
@media screen and (max-width: 1200px) {
  .nav {
    align-items: baseline;
  }
  .tagline{
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1200px) {
  .form-container {
    top: 225px;
    width: 40vw;
    left: 30%;
  }
}

@media screen and (max-width: 1025px) {
  .form-container {
    width: 100vw;
    position: static;
  }
}



