/* General Styles */
body {
  font-family: 'Cambay', sans-serif;
}

h1 {
  font-size: 20px;
  color: #1a66a5;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.card {
  margin: 0px;
}

.weather-widget {
  grid-area: weather;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#trail-widget {
  overflow: scroll;
}

/* #new-search {
  background-color: #1a66a5;
  margin-top: 20px;
} */

/* Logo Styles */
.nav {
	grid-area: nav;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 25px;
	margin-left: 25px;
}

.logo {
  width: 150px;
} 

.tagline {
	font-family: 'Amatic SC', cursive;
	font-size: 1.875rem;
}

/* Sets up Page Grid */
.trail-info-container{
  display: grid;
  grid-template-areas:  "nav nav"
                        "weather weather"
                        "trail trail"
                        "google google";
  grid-template-rows: 100px auto 1fr auto;
  grid-template-columns: repeat(2, 1fr);
}

/* Map Styles */
#googlemap {
  text-align: center;
}

#map {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  position: absolute,
}

.map {
  grid-area: google;
  border-top: 1px solid black;
}

/* Checklist Styles */
form#checklist {
  display: flex;
  max-height: 350px;
  flex-direction: column;
  flex-wrap: wrap;
}

#submit-item {
  background-color: #1a66a5;
}

i.right {
  margin-left: 0px;
}

#add-item {
  border-bottom: 1px solid #1a66a5;
  box-shadow: 0 1px 0 0 #1a66a5;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #1a66a5;
  border-bottom: 2px solid #1a66a5;
}

/* Sets Up Grid for Trail Info. */
#info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  margin: 25px;
  padding: 0;
  grid-area: trail
}

/* Start of Responsive Queries */
@media screen and (max-width: 1400px) {
  .card-image img {
    object-fit: cover
  }
  #info-container{
    grid-template-columns: none;
    grid-row-gap: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    align-items: baseline;
  }
  .tagline{
    font-size: 1.25rem;
  }
}

 @media screen and (max-width: 610px) {
  .info-container {
    width: 100vw;
    left: 0px;
  }
}

@media screen and (max-width: 610px) {
  i.right {
    margin-left: 0px;
    margin-top: -5px;
  }
}

@media screen and (max-width: 400px) {
  #info-container {
    margin: 20px 0;
  }
  .card .card-reveal {
    padding: 5px;
  }
  .card .card-title{
    font-size: 20px;
  }
}
/* End of Responsive Queries */